.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: var(--color-0);
  border-bottom: solid .1rem #757575;
}

.nav { 
  position: relative;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8rem;
  margin: 0 8rem;
}

.sideNavOpen {
  transition: all 0.2s ease-in-out;
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  background-color: var(--color-0);
  z-index: 1000;
  top: 8rem;
}

.sideNavClose {
  position: absolute;
  transform: translateX(-25rem);
  display: none;
}

.navSmall {
  display: block;
}



@media only screen and (max-width: 900px) { 
  .navSmall {
    display: block;
    cursor: pointer;
    color: var(--color-1);
  }
}

@media only screen and (max-width: 560px) { 
  .nav { 
    margin: 0 2rem;
  }
}