.formCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subTitle {
  font-size: var(--size-sub-title2);
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.privacy {
  font-size: 1.2rem;
  color: var(--color-7);
  margin-top: 1.5rem;
}