.item {
  margin-bottom: var(--distance-1);
  color: var(--color-7);
  padding-bottom: .5rem;
  border-bottom: solid .2rem var(--color-8);
}

.newPitem {
  color: var(--color-1);
  background-color: var(--color-7);
  padding: 1.5rem;
}