.nav {
  color: var(--color-1);
  background-color: var(--color-0);
  display: flex;
  justify-content: space-between;
  padding: 2rem 8rem;
}

.navItems {
  display: flex;
}

.navItem {
  margin-right: 2rem;
  display:  flex;
  flex-direction: column;
}

.navItemTitle {
  font-weight: bold;
  margin-bottom: 1rem;
  font-size: var(--size-sub-title2);
}

.link {
  color: var(--color-1);
  cursor: pointer;
  border-bottom: solid transparent .1rem;
  /* display: inline-block; */
  margin-bottom: .5rem;
  transition: all .2s;
  display: inline;
}

.link:hover {
  border-bottom: solid var(--color-1) .1rem;
}

.langSelect {
  background-color: var(--color-0);
  height: 100%;
}

.langSelect:hover {
  cursor: pointer;
}

@media only screen and (max-width: 560px) { 
  .nav { 
    padding: 2rem 2rem;
  }
}



@media only screen and (max-width: 440px) { 
  .nav  { 
    flex-direction: column;
    align-items: center;

  }

  .navItems {
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .navItem {
    align-items: center;
    margin-right: 0;
    margin-bottom: 1.5rem;
  }
}
