.nav {
  color: var(--color-1);
  background-color: var(--color-0);
  display: flex;
  justify-content: space-between;
  padding: 2rem 8rem;
}

.navItems {
  display: flex;
}

.navItem {
  margin-right: 2rem;
  display:  flex;
  flex-direction: column;
}

.navItemTitle {
  font-weight: bold;
  margin-bottom: 1rem;
  font-size: var(--size-sub-title2);
}

.link {
  color: var(--color-1);
  cursor: pointer;
  border-bottom: solid transparent .1rem;
  /* display: inline-block; */
  margin-bottom: .5rem;
  transition: all .2s;
}

.link:hover {
  border-bottom: solid var(--color-1) .1rem;
}

.langSelect {
  background-color: var(--color-0);
  height: 100%;
}

.langSelect:hover {
  cursor: pointer;
}