.container { 
  margin-bottom: var(--distance-2);
  margin-bottom: 5rem;
  padding: 0 8rem;
}

.title {
  font-size: var(--size-sub-title);
  font-weight: bold;
  color: var(--color-7);
  margin-bottom: var(--distance-0);
}

.connectLink {
  display: flex;
  align-items: center;
  color: var(--color-2);
  border-bottom: solid transparent .1rem;
  transition: all .2s;
}

@media only screen and (max-width: 560px) { 
  .container { 
    padding: 0 2rem;
  }
}