.container {
  margin-bottom: 3rem;
  padding: 0 8rem;
  color: var(--color-0);
}

.newsTitle {
  font-size: var(--size-sub-title);
  margin-bottom: var(--distance-0);
  font-weight: bold;
  color: var(--color-7);
} 

.newsP {
  color: var(--color-7);
  margin-bottom: var(--distance-1);
  padding-bottom: .5rem;
  border-bottom: solid .2rem var(--color-8);
}
