.container {
  margin-bottom: 4rem;
  padding: 0 8rem;
  color: var(--color-0);
}

.newsTitle {
  font-size: var(--size-sub-title);
  margin-bottom: var(--distance-0);
  font-weight: bold;
  color: var(--color-7);
} 


@media only screen and (max-width: 560px) { 
  .container { 
    padding: 0 2rem;
  }
}