.container {
  padding: 5rem 8rem;
  color: var(--color-1);
  margin-bottom: 3rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(
    to right bottom, 
    rgba(8, 18, 30, .4), 
    rgba(8, 18, 30, .7)), url('../../../public/images/topImg.jpg');
  height: 50rem;
  margin-bottom: 3rem;
}

.title {
  font-size: var(--size-title);
  text-align: center;
  font-weight: bold;
  margin-bottom: var(--distance-1);
}

.subtitle {
  font-size: var(--size-sub-title);
  text-align: center;
  margin-bottom: var(--distance-1);
}