.container {
  display: flex;
  flex-direction: column;
  align-items: center;  
  padding: 5rem 8rem;
  color: var(--color-1);
  margin-bottom: 3rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(
    to right bottom, 
    rgba(20, 20, 20, .4), 
    rgba(20, 20, 20, .7)), url('../../../public/images/topImg.jpg');
  height: 100%;
  margin-bottom: 4rem;
}

.title {
  font-size: var(--size-title);
  font-weight: bold;
  margin-bottom: var(--distance-1);
  text-align: center;
}

.subtitle {
  font-size: var(--size-sub-title);
  margin-bottom: var(--distance-1);
  text-align: center;
}

@media only screen and (max-width: 780px) {
  .title {
    font-size: var(--size-sub-title);
  }

  .subtitle { 
    font-size: var(--size-sub-title2);
  }
}


@media only screen and (max-width: 560px) { 
  .container { 
    padding: 5rem 2rem;
  }
}