.subTitle {
  font-weight: bold;
  font-size: var(--size-sub-title2);
  margin-bottom: 2rem;
}

.item {
  display: flex;
  margin-bottom: 1.5rem;
  align-items: center;
  color: var(--color-7);
  padding-bottom: 1rem;
  border-bottom: .2rem solid var(--color-8);
}
