.btn {
  background-color: var(--color-4);
  padding: var(--distance-3);
  color: var(--color-1);
  padding: .5rem 1rem ;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 1rem;
  transition: all .3s;
}

.btn:hover {
  background-color: var(--color-3);
}

.btnContact {
  background-color: var(--color-6);
  padding: var(--distance-3);
  color: var(--color-1);
  width: 14rem;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 1rem;
  transition: all .3s;
}

.btnContact:hover {
  background-color: var(--color-5);
}