.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  width: 50rem;
}

.input {
  padding: 0.5rem;
  margin-bottom: 1.5rem;
  border-bottom: .2rem solid var(--color-8);
  outline: none !important;
}

.input:focus {
  outline: none !important;
  border-bottom: .2rem solid var(--color-7);
}

.txtArea {
  resize: none;
  height: 15rem;
  padding: 0.5rem;
  font-family: inherit;
  color: var(--color-7);
  border: .2rem solid var(--color-8);
  margin-bottom: 2rem;
  transition: all 0.2s ease-in-out;
}

.txtArea:focus {
  outline: none !important;
  border: .2rem solid var(--color-7);
}