.marginTop {
  margin-top: var( --distance-0);
}

.cartList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 2rem;
}

.cart{
  color: var(--color-7);
  padding-bottom: 1rem;
  border-bottom: .2rem solid var(--color-8);
}

.cartTop {
  font-weight: bold;
  display: flex;
  align-items: center;
}

.cartBottom {
  display: flex;
  flex-direction: column;
}

.cartItem {
  color: var(--color-7);
  margin-bottom: .5rem;
}

.topMargin3 {
  margin-top: var(--distance-2);
}

.subTitle {
  font-weight: bold;
  font-size: var(--size-sub-title2);
  margin-bottom: 2rem;
}

.itemList {
  display: flex;
  margin-bottom: 1.5rem;
  align-items: center;
  color: var(--color-7);
  padding-bottom: 1rem;
  border-bottom: .2rem solid var(--color-8);
}

.pStyle {
  color: var(--color-7);
  margin-bottom: var(--distance-1);
  padding-bottom: .5rem;
  border-bottom: solid .2rem var(--color-8);
}

.containerTop {
  display: flex;
  align-items: center;
  padding: 3rem 8rem;
  color: var(--color-1);
  margin-bottom: 3rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(
    to right bottom, 
    rgba(20, 20, 20, .4), 
    rgba(20, 20, 20, .7)), url('../public/images/topImg.jpg');
  height: 15rem;
  margin-bottom: 3rem;
  font-size: var(--size-title);
}

.sPage {
  padding: 0 8rem;
  margin-bottom: 5rem;
}

@media only screen and (max-width: 430px) { 
  .cartList { 
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 500px) { 
  .cartList { 
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
  }
}

@media only screen and (max-width: 560px) { 
  .containerTop { 
    padding: 3rem 2rem;
  }

  .sPage { 
    padding: 0 2rem;
  }
}